body{
   background-image: url(Black_photo.jpg);
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   
   
}
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px;
        color: red;
    }
 body{line-height: 2;}
.a{color: blue; }
.b{ color:white; font-family: system-ui;}
.ulnavbar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #BA55D3;
    position:fixed;
    top: 0px;
    width: 100%;
    left: 0px;
}

li a {
    font-size: large;
    display: block;
    color: #F5E8DA;
    text-align: center;
    padding: 16px 20px;
    float: left;
    text-decoration: none;
}

    li a:hover {
        background-color: black;
    }

.active {
    color: #F5E8DA;
    background-color: #340744;
}


